<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- INTRO -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding: 2.5% 2.5% 0 2.5%; width:65%; vertical-align:top; text-align:left;">              
              <h1 style="text-align:left; margin-top:0;">Shaswot Shresthamali</h1>
              <h2 style="text-align:left;">🤖 Robotics Researcher @ Fujitsu, Japan </h2>
              <p>
                Hi! 👋 
              </p>
              <p>  
                I am a researcher specializing in the fields of <b>robotics</b> and <b>artificial intelligence</b>.
              </p>

              <p> 
                  I can be reached at &ltfirst_name&gt[AT]fujitsu.jp
              </p>
              
              <p style="text-align:center">
                <a href="https://github.com/shaswot">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=BCVh544AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/shaswot-sm"> LinkedIn </a>
              </p>
             
              <p>
              You can find my CV <a href="https://github.com/shaswot/resume/raw/main/shaswot-resume.pdf" target="_blank">here</a>. 
              </p> 
                      
              <p style="margin-bottom: 0;">
                Prior to my current role, my work explored several cutting-edge areas of technology, including:
              </p>                  
              <ul style="margin-top: 5px;">
                <li>Quantum computing,</li> 
                <li>Quantum reinforcement learning, and</li> 
                <li>Architectural optimizations for deep learning.</li>
              </ul>
            </td>
          
          <td style="padding:2.5%;width:40%;max-width:40%">
            <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.png">
          </td>
        </tr>
        </table>

        <!-- BACKGROUND -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding: 0 2.5%; width:100%; vertical-align:middle">
              <!--PHD-->
              <p>
                I received my Ph.D. from The University of Tokyo (<a href="http://www.hal.ipc.i.u-tokyo.ac.jp/~nakamura/index-e.html"> Nakamura-Kondo Lab </a>).
                <br>
                If you're curious, you can check out my <a href="https://doi.org/10.15083/0002007215">doctoral thesis</a>, where I focused on using <b>reinforcement learning</b> for adaptive power management of energy-harvesting wireless sensors.
              </p>

              <!-- AFFILIATIONS -->
            <p style="margin-top: 1em;">Previously, I was affiliated with:</p>
            <table style="width:100%; border-collapse: collapse; margin-top: 10px; margin-bottom: 20px; text-align: left;">
              <!-- Table Header -->
              <tr style="border-bottom: 2px solid #ddd;">
                <th style="padding: 8px 0; width: 15%;">Years</th>
                <th style="padding: 8px 10px; width: 30%;">Position</th>
                <th style="padding: 8px 10px; width: 40%;">Institution & Laboratory</th>
                <th style="padding: 8px 0; width: 10%;">Location</th>
              </tr>
              
              <!-- Kyudai -->
              <tr style="border-bottom: 1px solid #eee;">
                <td style="padding: 8px 0; white-space: nowrap;">2024 &ndash; 2026</td>
                <td style="padding: 8px 10px;">Research Associate Professor<br><span style="font-size: 0.9em; color: #555;">特任准教授</span></td>
                <td style="padding: 8px 10px;">
                  <a href="https://cpc.ait.kyushu-u.ac.jp/en/">Cyber-Physical Computing Laboratory</a><br>
                  <span style="font-size: 0.9em; color: #555;">Kyushu University</span>
                </td>
                <td style="padding: 8px 0;">Japan</td>
              </tr>

              <!-- Keio -->
              <tr style="border-bottom: 1px solid #eee;">
                <td style="padding: 8px 0; white-space: nowrap;">2021 &ndash; 2026</td>
                <td style="padding: 8px 10px;">Research Assistant Professor<br><span style="font-size: 0.9em; color: #555;">特任助教</span></td>
                <td style="padding: 8px 10px;">
                  <a href="https://www.acsl.ics.keio.ac.jp">Kondo Laboratory</a><br>
                  <span style="font-size: 0.9em; color: #555;">Keio University</span>
                </td>
                <td style="padding: 8px 0;">Japan</td>
              </tr>

              <!-- Todai -->
              <tr style="border-bottom: 1px solid #eee;">
                <td style="padding: 8px 0; white-space: nowrap;">2015 &ndash; 2021</td>
                <td style="padding: 8px 10px;">M.Sc / Ph.D<br><span style="font-size: 0.9em; color: #555;">(MEXT Scholar / JSPS Fellow)</span></td>
                <td style="padding: 8px 10px;">
                  <a href="http://www.hal.ipc.i.u-tokyo.ac.jp/~nakamura/index-e.html">Nakamura-Kondo Lab</a><br>
                  <span style="font-size: 0.9em; color: #555;">The University of Tokyo</span>
                </td>
                <td style="padding: 8px 0;">Japan</td>
              </tr>

              <!-- SEC -->
              <tr style="border-bottom: 1px solid #eee;">
                <td style="padding: 8px 0; white-space: nowrap;">2012 &ndash; 2014</td>
                <td style="padding: 8px 10px;">Assistant Professor</td>
                <td style="padding: 8px 10px;">
                  <a href="https://sagarmatha.edu.np/">Sagarmatha Engineering College</a><br>
                  <span style="font-size: 0.9em; color: #555;">Tribhuvan University</span>
                </td>
                <td style="padding: 8px 0;">Nepal</td>
              </tr>
            </table>

                
              <h2>Publications</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:40%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              
              <!-- Title: Larger, bolder, with controlled bottom margin instead of a <br> -->
              <h3 style="margin: 0 0 6px 0; font-size: 1.3em; font-weight: bold; line-height: 1.25;">
                {{post.title}}
              </h3>
              
              <!-- Authors: Slightly muted color to contrast with the bold title -->
              <div style="color: #444; margin-bottom: 6px;">
                {{post.authors}}
              </div>

              <!-- Venue & Date: Only prints the venue and comma if a venue is actually provided -->
              <div style="margin-bottom: 8px;">
                {% if post.venue and post.venue != "" %}
                  <em>{{post.venue}}</em>, 
                {% endif %}
                {{ post.date | date: "%Y" }}
              </div>

              <!-- Links (Cleaned up to stay inline) -->
              <div>
                {% if post.arxiv %}
                <a href="{{post.arxiv}}">arxiv</a> /
                {% endif %}
                {% if post.link %}
                <a href="{{post.link}}">link</a> /
                {% endif %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> /
                {% endif %}
                {% if post.code %}
                <a href="{{post.code}}">code</a> /
                {% endif %}
                {% if post.poster %}
                <a href="{{post.poster}}">poster</a> /
                {% endif %}
                {% if post.slides %}
                <a href="{{post.slides}}">slides</a> /
                {% endif %}
                {% if post.paper %}
                <a href="{{post.paper}}">paper</a> /
                {% endif %}
              </div>

              <!-- Excerpt -->
              <p style="margin-top: 10px;">
                {{ post.excerpt }}
              </p>
              
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's website</a><br>
                Last updated: {{ site.time | date: "%Y-%m-%d" }}
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>